body{
    background-color: rgb(190, 201, 201);
    }

h3{
    background-color: beige;
}

.autoriai {
    color: darkgreen;
    padding: px;
}
.citatos {
    color: rgb(10, 0, 100);
    font-size: small;
    font-style: italic;  
}
img {
    justify-content: right;
    box-shadow: 2px 2px 7px rgb(109, 109, 156);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


